body,html{
	font-family: Georgia,Times,Times New Roman,serif;
	a{
		color: #fff;
	}
} 

.banner {
	height: 100vh;
	min-width: 100%;
	filter: opacity(0.9);
}

.slogan{
	vertical-align: middle;
	margin-top: 180px;
	color: #2eb657;
}

.navbar{
	margin-bottom: 0;
}

.navbar-default{
	background-color: transparent;
	border: 0 none;
}

.navbar-nav li a{
	color: #fff !important;
}

.navbar-brand{
	#green{
		color: #09269C;
	}
	#black{
		color: #FF2300;
	}
}

.thumbnail{
	text-align: center;
	color: #2EB657;
	padding: 10px;
	cursor: pointer;
}

footer{
	height: 60px;
	background-color: #43419D;
	text-align: center;
	span{
		line-height: 60px;
		color: #fff;
	}
}